<html ng-app="TodoListApp">
  <head>

    <link href="css/index.css" type="text/css" rel="Stylesheet" />
    <title>Todo List</title>
  </head>
  <body  ng-controller="ListController">

    <div id = "page_wrapper"> 
      <div id = "title_wrapper">
        Todo List
      </div>

      <div id = "content_wrapper">

        <div id = "tools_block">
          <div id = "add_item_block">
            TODO: <br/>
            <input type="text" ng-model="newItem.detail" />
            <button ng-click="addItem()">Add Item</button>
          </div>

          <div id = "search_item_block">
            Item Search: <input type="text" ng-model="detail" />
          </div>
        </div>

        <div>
          <br />
          <ul>
            <li>All things</li>
              <div ng-repeat="item in items | filter:detail " ng-click="deleteItem(item)">
                {{ item.detail }} - {{ item.stat }}
              </div>
          </ul>
        </div>

        <div>
          <ul>
            <li>TODO</li>
              <div ng-repeat="item in items | filter:{stat:'Active'} ">
                {{ item.detail }} - {{ item.stat }}
                <button ng-click="completeItem(item)">Complete!</button>
              </div>
          </ul>
        </div>



      </div>
    </div>

    <script type="text/javascript" src="js/angular.min.js"></script>

    <script src="js/ListController.js"></script>

  </body>
</html>